/**
 * Place your custom styles here.
 */
#superfish-1 {
  float: right;;
}
.sf-menu.sf-style-white a, .sf-menu.sf-style-white span.nolink {
  border: none;
  text-decoration: none;
}
.navbar.container {
  max-width: 100%;
}
.container {
  width: 100%;
}
.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}
#block-system-main-menu ul {
  padding: 2% 0;
  /*float: right;*/
}
#block-system-main-menu ul li {
  float: left;
  margin-left: 5%;
}
.field-name-field-header-inage {
  display: none;
}
#block-system-main-menu ul li a {
  color: #fff;
  text-decoration: none;
}
