<div id="welcome" class="row">
  <!-- title start -->
  <div class="col-md-12 text-center">
      <h1 class="font-size-normal">
          <small>Welcome to Pasific</small>
          We Are Smart Creative Agency
          <small class="heading heading-solid center-block"></small>
      </h1>
  </div>
  <!-- title end -->

  <!-- title description start -->
  <div class="col-md-8 col-md-offset-2 text-center">
      <p>
          <span class="lead"><strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</strong></span><br><br>

          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </p>
  </div>
  <!-- title description end -->
</div>


<div class="col-sm-12 col-xs-12 text-center mb20">
  <h4 class="pb25 bb-solid-1 text-uppercase">
    Get in Touch
    <small class="text-lowercase">Please complete the form and we will get back to you.</small>
  </h4>
</div>
